<div class="card-footer">
    <div class="col-md-8">
        <a href="{{ path('facturation') }}" class="btn btn-success float-left"><< Retour a la liste des factures</a>
        <div class="float-right">
            {{ form_row(form_facture.save, {'attr': {'class': 'btn btn-primary'},'label':'Enregistrer'}) }}
        </div>
    </div>

</div>