{% extends 'layout.html.twig' %}
{% block title %}Client{% endblock %}
{% block body %}
    <div class="container-fluid">

        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title ml-3">Ajouter un client</h3>
            </div>
            {% include 'client/form_client.html.twig' %}
        </div>
    </div>
{% endblock %}
