<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eged | {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}

</head>

<body id="page-top">
{% include 'header.html.twig' %}


<div id="wrapper">

    <!-- Sidebar -->
    {% include 'menu.html.twig' %}

    <div id="content-wrapper">

        <div class="container-fluid">
            {#Flash messages#}
                <div class="col-md-12">
                    {{ include('default/flash_message.html.twig') }}

                </div>
            {#fin de flashMessages#}
                </div>
            {% block body %}{% endblock %}

        </div>
        <!-- /.container-fluid -->

        {% include 'footer.html.twig' %}

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{% include 'logout.html.twig' %}
{#notification#}
{% include 'notification.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>

</html>
