<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Listes des notifications</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio <span class="badge badge-dark float-right">3</span></li>
                    <li class="list-group-item">Dapibus ac facilisis in <span class="badge badge-dark float-right">4</span></li>
                    <li class="list-group-item">Morbi leo risus <span class="badge badge-dark float-right">2</span></li>

                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Non</button>
                <a class="btn btn-primary" href="#">Oui</a>
            </div>
        </div>
    </div>
</div>