<div class="card-footer">
    <a href="{{ path('societe') }}" class="btn btn-success"> << Retour a la table societe</a>

    <div class="float-right">

        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'},'label':'Enregistrer'}) }}
    </div>


</div>