{% extends 'layout.html.twig' %}
{% block title %}Frais Duplication{% endblock %}
{% block body %}


    <div class="container-fluid">
    <div class="card mb-3">
    <div class="card-header">
        <div class="col-md-12">
            <h3 class="float-left">duplique   de frais</h3>
            <a href="{{ path('frais') }}" class="text-success float-right"><< Retour a la liste des frais</a>
        </div>
    </div>
    {% include 'frais/form_frais.html.twig' %}

{% endblock %}