{% extends 'layout.html.twig' %}
{% block title %}Frais Edition{% endblock %}
{% block body %}
    <div class="container-fluid">
    <div class="card mb-3">
    <div class="card-header">
        <h3>Edit frais</h3>
    </div>
    {% include 'frais/form_frais.html.twig' %}

{% endblock %}