<div class="card-footer">
    <a href="{{ path('frais') }}" class="btn btn-success float-left"><< Retour a la liste des frais</a>

    <div class="float-right">

        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'},'label':'Enregistrer'}) }}
    </div>


</div>