{% extends 'layout.html.twig' %}
{% block title %}Utilisateurs{% endblock %}
{% block body %}

    <div class="container-fluid">
    <div class="card mb-3">


    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h3 class="float-left">Edition d'utilisateur</h3>
                <a href="{{ path('user') }}" class="text-success float-right"><< Retour a la liste des utilisateurs</a>
            </div>
        </div>
    </div>
    {% include 'user/form_utilisateur.html.twig' %}

{% endblock %}